DATABASE_URL="PostgreSQL (of enige database die met Prisma werkt) Database URL hier."

# De URL van waar je PolarLearn host.
POLARLEARN_URL="https://polarlearn.tech"

# Wil je dat iedereen op de beta-build kan komen?
ALLOW_EVERYONE_ON_DEV="false"

# Om de Auth.js token te genereren, voer npx auth secret uit in de terminal.
AUTH_GOOGLE_ID=Plak hier je Google Client ID die je hebt gekmopieerd van de Google Cloud Console
AUTH_GOOGLE_SECRET=Zelfde als hierboven, maar dan de Client Secret

AUTH_GITHUB_ID=Plak hier de Client ID die je hebt gekopieerd van de GitHub Developer Settings
AUTH_GITHUB_SECRET=Hetzelfde als hierboven, maar dan de Client Secret

NEXTAUTH_URL=Het zelfde als de PolarLearn URL.
AUTH_TRUST_HOST=Het zelfde als de PolarLearn URL.

VERTROUW_ALLE_AUTH_URLS___SCHAKEL_DIT_NIET_IN_DIT_IS_GEVAARLIJK=false