# OpenLearn env template

# vervang localhost:5432 met jouw domain

# geneer aub een lange random secret
AUTH_SECRET=replace-with-a-long-random-secret

# voor hackclub oath
HACKCLUBAUTH_CLIENT_ID=your-hackclub-client-id
HACKCLUBAUTH_CLIENT_SECRET=your-hackclub-client-secret

# db
DATABASE_URL=postgresql://user:pass@localhost:5432/openlearn

# voor oath callback
APP_BASE=http://localhost:5173