@import "tailwindcss";
@config "../tailwind.config.ts";

html,
body {
  font-family: "Geist", sans-serif;
  @apply bg-openlearn-900 text-neutral-100;
  margin: 0;
  padding: 0;
}

.light body {
  @apply bg-neutral-100 text-neutral-900;
}

.dark body {
  font-family: "Geist", sans-serif;
  @apply bg-openlearn-900 text-neutral-100;
}

.glow-shadow {
  box-shadow: var(--color-openlearn-700) 0px 0px 24px;
}