@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181818;
  --foreground: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add custom font-face for emoji */
@font-face {
  font-family: 'Twemoji';
  src: url('./fonts/TwitterColorEmoji-SVGinOT.ttf') format('truetype');
  /* Unicode ranges covering common emojis */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF, U+2700-27BF;
}
/* Force emoji elements to use Twemoji */
.emoji {
  font-family: 'Twemoji', sans-serif !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, sans-serif, Twemoji;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}